*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

/* Utils */
:root{
    --primary-color: #333;
    --bg-color: snow;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 95%;
    margin: auto;
}

header{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 60px #00000050, inset -5px -5px 60px #ffffff50;
    border: 2px solid #33333350; 
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 0.2rem 0;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

header h1 strong{
    margin: 0.2rem 0;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

header p{
    font-size: 1.3rem;
    margin: 0.5rem 0;
    text-align: center;
}

h2{
    text-align: center;
    margin: 1rem 08px;
    font-size: 2rem;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

.container h2{
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.tab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.tab p{
    font-size: 1.3rem;
    width: 60%;
    margin: 0.5rem 0;
    text-align: justify;
}

.tab img{
    box-shadow: 8px 8px 60px #33333350, inset -8px -8px 60px #33333350;
    border: 2px solid #33333300;
}

.img1{
    transform: flip;
    /* border-radius: 10% 90% 7% 93% / 93% 6% 94% 7%; */
    border-radius: 20px;
}

.img2{
    /* border-radius: 85% 15% 88% 12% / 9% 88% 12% 91% ; */
    border-radius: 20px;
}

#msg{
    border-radius: 4% 96% 5% 95% / 96% 3% 97% 4%;
    border: 2px solid #33333350;
    padding: 2.2rem;
    box-shadow: 8px 8px 60px #33333350, inset -8px -8px 60px #33333350;
    background: rgb(235, 235, 235);
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 60px #00000050, inset -5px -5px 60px #ffffff50;
    border: 2px solid #33333350;
    min-height: 550px;
}

.card img{
    border-radius: 20px;
}

.card h3{
    font-size: 1.3rem;
    margin: 0.5rem 0;
    text-align: center;
}

.card p{
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: justify;
}

.card a{
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-align: justify;
    color: var(--bg-color);
    background: blue;
    text-decoration: none;
}

.card a:hover{
    background: rgb(82, 82, 255);
}